* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(rgba(245, 171, 53, 1), rgba(247, 202, 24, 1));
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 400px;
}
.textfield {
  background-color: navajowhite;
  border-radius: 40px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location {
  border: none;
  width: 300px;
  height: 25px;
  background: none;
  border: none;
  outline: none;
}
.search {
  border: none;
  height: 25px;
  width: 25px;
  background: none;
  background-color: gold;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.icon {
  padding: 70px;
}
.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.degree,
.deg {
  font-size: 30px;
}
.description {
  font-size: 15px;
}
